@use "../abstracts/variables" as *;

.card-container {

  .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .card {
      & img {
        border-radius: 5px;
        outline: none;
      }
    }
  }
}
